.centered {
    display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url(./images/new-background.jpeg);
  background-attachment: fixed;
}

.jumbotron {
  color: whitesmoke !important;
  background-color: transparent !important;
  
}

.display-4 {
  /* font-family: 'Mansalva', cursive; */
  font-family: 'Raleway', sans-serif;
}

/* when screen is on a desktop, show the table and hide the cards */
  .table-1 {
    visibility: visible;
        
  }
  
  .card-div {
    visibility: hidden;
  }
  
  /* when screen is a mobile phone, show the cards and hide the table */
@media screen and (max-width: 500px) {
  .card-div {
    visibility: visible;
    display: 100%;
        
  }
  .table-1 {
    visibility: hidden;
    max-height: 0%;
  }
  }
