.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.flex-container {
  display: flex;
}

body {
  background-image: url(./images/new-background.jpeg);
  background-attachment: fixed;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  color: whitesmoke !important;
  background-color: transparent !important;
  
}

.display-1 {
  /* font-family: 'Mansalva', cursive; */
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Anton', sans-serif;
  /* font-size: 8rem !important; */

}
.lead {
  /* font-family: 'Pacifico', cursive; */
  /* font-family: 'Exo', sans-serif; */
  /* font-family: 'Comfortaa', cursive; */
  font-family: 'Ubuntu Condensed', sans-serif;
  /* font-size: 1.5rem !important; */
  color: black;
}


  
  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin: -75px 0 0 -75px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  

  /* when screen is on a desktop, show the table and hide the cards  */
  .table-1 {
    visibility: visible;
        
  }
  
  .card-div {
    /*visibility: hidden;*/
    display: none;
  }
  
  /* when screen is a mobile phone, show the cards and hide the table */
 @media screen and (max-width: 500px) {
  .card-div {
    /*visibility: visible;*/
    display: 100%;
    display: block;
        
  }
  .table-1 {
    visibility: hidden;
    max-height: 0%;
  }

   img { 
    width: 75%;
    height: 75%;
  }

  .image {
    padding-top: 10%;
    max-width: 100%;
    height: auto;
  }

  p {
    margin-bottom: 0% !important;
    font-size: 8pt;
  }

  }
